.header__contacts, .navigation__site-nav, .mobile-social, .social-networks-list, .filter-list, .gallery-list, .address__list {
  list-style: none;
}

.section__title, .gallery-card__title {
  color: #212121;
  letter-spacing: 0.03em;
}

.gallery-card__text, .gallery-card__text-overlay {
  letter-spacing: 0.03em;
}

.header__link, .contacts-list__link, .button-primary, .button-secondary, .social-networks-list__link, .social-networks-list__icon, .gallery-card, .gallery-card__overlay, .address__link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body.modal-open {
  overflow: hidden;
}

img {
  max-width: 100%;
}

img,
svg {
  display: block;
  height: auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__navigation {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header__navigation {
    justify-content: space-between;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__link {
  display: block;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition-property: color;
}

.header__contacts {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__contacts {
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts {
    margin-left: auto;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    flex-direction: row;
  }
}

.header__container {
  min-height: 60px;
}

@media screen and (max-width: 767px) {
  .header__container {
    position: relative;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__site-nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .navigation__site-nav {
    flex-direction: column;
    margin-bottom: 302px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__list-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list__item:last-child {
    margin-bottom: 32px;
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.navigation__link {
  color: #212121;
  text-decoration: none;
  font-size: 2.5rem;
  line-height: calc(47 / 40);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 0.875rem;
    line-height: calc(16 / 14);
  }
}

.navigation__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation__link--current {
    position: relative;
  }
  .navigation__link--current::after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.contacts-list__link {
  color: currentColor;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  fill: #757575;
  transition-property: fill;
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}

.contacts-list__link:hover .header__icon,
.contacts-list__link:focus .header__icon {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts-list__link {
    font-size: 1.5rem;
    line-height: calc(28 / 24);
  }
  .contacts-list__item:last-child .contacts-list__link {
    font-size: 2.125rem;
    line-height: calc(40 / 34);
  }
}

@media screen and (min-width: 768px) {
  .contacts-list__link {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.75rem;
    line-height: calc(14 / 12);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 0.875rem;
    line-height: calc(16 / 14);
  }
}

.header__icon {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .header__icon {
    display: none;
  }
}

.logo {
  display: block;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  font-weight: bold;
  text-decoration: none;
}

.logo--accent {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 1.625rem;
    line-height: calc(31 / 26);
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    z-index: 2;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, transform;
    transform: translateY(-100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    flex-grow: 1;
    margin-left: 88px;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

.button-menu .icon-menu {
  display: none;
}

.button-menu.is-open .icon-menu {
  display: block;
}

.button-menu.is-open .icon-cross {
  display: none;
}

.mobile-social {
  display: inline-flex;
  flex-wrap: wrap;
}

.mobile-social__link {
  text-decoration: none;
  color: #2196f3;
  font-size: 1.125rem;
  line-height: calc(22 / 18);
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .mobile-social {
    display: none;
  }
}

.mobile-social__item {
  position: relative;
}

.mobile-social__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-social__item:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}

.button, .button-primary, .button-secondary {
  border-radius: 4px;
  color: #212121;
  font-family: inherit;
  border: none;
}

.button--type-button, .button--type-submit {
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
}

.button--accent {
  color: #ffffff;
  background-color: #2196f3;
}

.button-primary,
.button-secondary {
  font-size: 16px;
}

.button-primary {
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  fill: #ffffff;
}

.button-primary__icon-svg {
  margin-left: 10px;
}

.button-primary:hover, .button-primary:focus {
  background-color: #188ce8;
}

.button-secondary {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition-property: box-shadow, color, background-color;
}

.button-secondary:hover, .button-secondary:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-close {
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button-close:hover, .button-close:focus {
  fill: #2196f3;
}

.button-menu {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 3;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  fill: #212121;
}

.button-menu:hover, .button-menu:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.section {
  padding: 60px 0;
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 2.25rem;
    line-height: calc(42 / 36);
  }
}

.section--accent-gray {
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
  .section--no-padding {
    padding-top: 0;
  }
}

@media screen and (max-width: 1199px) {
  .section__working {
    display: none;
  }
}

.social-networks-list {
  margin: 20px 0 auto;
  display: flex;
  justify-content: center;
}

.social-networks-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks-list__link {
  color: #afb1b8;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
}

.social-networks-list__link:hover, .social-networks-list__link:focus {
  background-color: #2196f3;
}

.social-networks-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition-property: fill;
}

.social-networks-list__link:hover .social-networks-list__icon,
.social-networks-list__link:focus .social-networks-list__icon,
.social-networks-list__icon--light {
  fill: #ffffff;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .filter-list {
    margin-bottom: -15px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.filter-list__item {
  margin-bottom: 15px;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.gallery-list {
  margin-top: 40px;
  margin-bottom: calc(-1 * 30px);
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.gallery-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .gallery-list__item {
    margin-right: 15px;
    margin-left: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .gallery-list__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.gallery-card {
  background: #ffffff;
  transition-property: box-shadow;
}

.gallery-card__link {
  text-decoration: none;
}

.gallery-card__thumb {
  position: relative;
  overflow: hidden;
}

.gallery-card__box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.gallery-card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: calc(36 / 18);
}

.gallery-card__text {
  color: #757575;
  font-size: 16px;
  line-height: calc(30 / 16);
}

.gallery-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-card__overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transform: translateY(100%);
}

.gallery-card:hover .gallery-card__overlay {
  transform: translateY(0);
}

.gallery-card__text-overlay {
  margin: 0;
  font-size: 1.125rem;
  line-height: calc(28 / 18);
  color: #ffffff;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__container {
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.footer__address {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .footer__address-container {
    margin-right: 165px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__address-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address-container {
    margin-right: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__social-networks-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social-networks-container {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .footer__subscribe-container .subscribe__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe-container .subscribe__inner {
    flex-direction: row;
  }
}

.footer__title {
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__title--light,
.footer__text--light,
.footer__logo--light {
  color: #ffffff;
}

.address {
  line-height: calc 1.71429;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address__item--margin {
  margin-bottom: 8px;
}

.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.subscribe__input {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}
/*# sourceMappingURL=portfolio.css.map */