.hero {
  padding-top: 118px;

  text-align: center;
  background-color: $fourth-bg-color;

  @include adaptive-size(desktop) {
    padding-top: 200px;
  }

  &__overlay {
    height: 400px;

    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-768.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // @include adaptive-size(tablet-break) {
    //   @media (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //     background-image: linear-gradient(
    //         to right,
    //         rgba(47, 48, 58, 0.4),
    //         rgba(47, 48, 58, 0.4)
    //       ),
    //       url(../images/hero/hero-768@2x.jpg);
    //   }
    // }

    // @include adaptive-size(tablet) {
    //   @media (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //     background-image: linear-gradient(
    //         to right,
    //         rgba(47, 48, 58, 0.4),
    //         rgba(47, 48, 58, 0.4)
    //       ),
    //       url(../images/hero/hero-768@2x.jpg);
    //   }
    // }

    @include adaptive-size(desktop) {
      max-width: 1600px;
      height: 600px;

      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-1600.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero/hero-1600@2x.jpg);
      }
    }
  }

  &__title {
    margin-bottom: 30px;

    color: $white-color;
    font-size: toRem(26); //44
    line-height: calc(42 / 26); //1.36
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;

    @include adaptive-size(desktop) {
      font-size: toRem(44); //44
      line-height: calc(60 / 44); //1.36
    }
  }
}
