.logo {
  display: block;
  color: $black-color;

  font-family: $additional-font;
  font-size: toRem(24); //26
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  font-weight: bold;
  text-decoration: none;

  &--accent {
    color: $accent-color;
  }

  @include adaptive-size(desktop) {
    font-size: toRem(26); //26
    line-height: calc(31 / 26);
  }
}
