%list-no-style {
  list-style: none;
}

%title {
  color: $title-text-color;

  letter-spacing: 0.03em;
}

%paragraph {
  letter-spacing: 0.03em;
}

%animated {
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}
